@charset "utf-8";
/* CSS Document */

body {
background:url(../img/low_contrast_linen.png);
font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	margin: 0px;
}.maskHeader {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: -100px;
}
.black {
	color: #000000;
}
.white {
	color: #ffffff;
}


@media (min-width:768px){
.name {
	color:#952D06;
	top: 30%;
	width: 100%;
	height: 100%;
max-width:100vw;
	z-index: 10;
	vertical-align: central;
	text-align: center;
}
.name_1{
	font-size:70px;
 text-shadow:-8px 8px 1px  rgba(0,0,0,0.50); font-family: 'Shojumaru', cursive;}
 .name_2{
	 font-size:50px;
 text-shadow:-8px 8px 1px  rgba(0,0,0,0.50); font-family: 'Marck Script', cursive;
	 }
	 
	 .img_down{
width:50px;
height:50px;		 
		 }
.img_logo{

width:100px;	}


}


@media (max-width:768px){
.name {
	color:#952D06;
	top: 20%;
	width: 90vw;
	max-height: 80vh;
	z-index: 10;
	vertical-align: central;
	text-align: center;
}
.name_1{
	font-size:50px;
 text-shadow:-8px 8px 1px  rgba(0,0,0,0.50); font-family: 'Shojumaru', cursive;}
 .name_2{
	 font-size:30px;
 text-shadow:-8px 8px 1px  rgba(0,0,0,0.50); font-family: 'Marck Script', cursive;
	 }

	 .img_down{
width:25px;
height:25px;		 
		 }
		 
		 .img_logo{
	width:50px;
	}
		 }


.navigation {
	border-bottom:2px solid #952D06;
	background:rgba(255,255,255,0.20);
}
	.icon-bar{
	color:#DB730A;
	
	background:#444;
		}

li a {
	font-size: x-large;
color:#B93807;
	text-decoration: none;
	text-shadow: -1px 1px 0px rgba(0,0,10,1.00), -2px 2px 0px rgba(0,0,10,0.90), -3px 3px 0px rgba(0,0,10,0.80), -4px 4px 0px rgba(0,0,10,0.70), -5px 5px 0px rgba(0,0,10,0.60);	

}
li a:hover, li a:focus {
	font-size: xx-large;
}
.nav > li > a:hover, .nav > li > a:focus {
	text-decoration: none;
	background: none;
	 color:#952D06;
}
.cient {
	margin-top: 0px;
	min-width: 100%;
	height: auto;
	width: auto;
	border: rgba(251,251,251,1.00) groove 3px;
}
blockquote {
	color: rgba(255,255,255,0.80);
	border-left: 0px;
	background: url(../img/Przepierdzielnik.png) center 100% no-repeat, url(../img/cudzyslow-poczatek.png) top left no-repeat, url(../img/cudzyslow-poczatek.png) bottom right no-repeat;
	margin: 20px;
	padding: 10px 40px;
}

@media (max-width: 768px) {
	.r1, .r2 {
	height: auto;
width:100%;
color:#fff;
	padding-left:10px;
margin:0px;
font-size:large;
}

.singleiteam {
	padding-bottom:5px;
 height:auto;
 width:100%;
	transition: background 2s;
	}
	.a2,.a4,.a11,.a31{
		display:none;
		}
.ab1 {
	
		padding:10px;

	background:#952D06;
	width:100%;
	height:100%;
	font-family: 'Orbitron', sans-serif;

	background-size: cover;
	box-shadow:-3px 3px 3px rgba(0,0,0,0.50);
}

	}


@media (min-width: 768px) {
.singleiteam {
	height: 50vh;
    transition: background 2s;
padding:25px;
	}
	.ab1 {	background:#952D06;
	width:100%;
	height:100%;
	font-family: 'Orbitron', sans-serif;

	padding:10px;
	background-size: cover;
	box-shadow:-5px 5px 5px rgba(0,0,0,0.50);
}


	
.r1, .r2 {
	height: auto;
	min-height: 50vh;
width:100%;
color:#fff;
font-size:large;
}
.a2 {
	background: url(../img/12.jpg) no-repeat bottom;
	background-size: cover;
}
a3 {
	background: url(../img/13.jpg) no-repeat bottom;
	background-size: cover;
}
.a4 {
	background: url(../img/14.jpg) no-repeat bottom;
	background-size: cover;
}
.a11 {
	background: url(../img/15.jpg) no-repeat bottom;
	background-size: cover;
}
a21 {
	background: url(../img/16.jpg) no-repeat bottom;
	background-size: cover;
}
.a31 {
	background: url(../img/7.jpg) no-repeat bottom;
	background-size: cover;
}
a41 {
	background: url(../img/2.jpg) no-repeat bottom;
	background-size: cover;
}	
.a2:hover {
	background: url(../img/7.jpg) no-repeat bottom;
	background-size: cover;
}
.a4:hover {
	background: url(../img/5.jpg) no-repeat bottom;
	background-size: cover;
}
.a11:hover {
	background: url(../img/4.jpg) no-repeat bottom;
	background-size: cover;
}
.a31:hover {
	background: url(../img/2.jpg) no-repeat bottom;
	background-size: cover;
}
}
.text_dec{
color:#fff;
background:#000;
	margin:0px;
	}
footer{
background:#952D06;
	}	
	
	@media (max-width:768px){
	.block{
font-size:small;		
		}
		}
/*--------------------------------------------------------------------------------------------------------*/
